.video-container {
    position: relative;
}

.earth-video {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    border-radius: 6px 6px 0 0 !important;
    box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.9);
    margin: 0 auto;
}

.text-content {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.829);
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #fff;
    text-align: center;
}

.hero-container-fluid {
    padding-top: 50px;
    /* Adjust as needed */
    padding-bottom: 50px;
    /* Adjust as needed */
}

.white-text-with-shadow {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.829);
    /* Adjust the blur intensity as needed */
}

.opacity-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%;
    /* Adjust the height of the opacity layer as needed */
    background: linear-gradient(to bottom, rgba(4, 4, 4, 0.032) 0%, rgb(4, 4, 4) 80%);
    /* Adjust the opacity and colors as needed */
}