.testimonials {
    padding: 50px 0;
    position: relative;
    z-index: 1;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.container {
    margin: 0 auto;
}
  
  .section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #fff;
  }
  
  .testimonials-content {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 10px; /* Add some bottom padding to prevent horizontal scroll from being hidden behind scrollbar */
  }

  /* Hide scrollbar for WebKit/Blink */
.testimonials-content::-webkit-scrollbar {
  width: 0;
}

/* Define scrollbar track */
.testimonials-content::-webkit-scrollbar-track {
  background: transparent;
}

/* Define scrollbar thumb */
.testimonials-content::-webkit-scrollbar-thumb {
  background: transparent;
}
  
  .testimonial-card {
    flex: 0 0 calc(33.33% - 20px);
    margin-right: 20px;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    min-width: 250px;
  }
  
  .testimonial-content {
    text-align: center;
  }
  
  .testimonial-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  
  
  .testimonial-text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .testimonial-author {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
  