body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #040404; /* Dark background color */
  color: #ffffff; /* White text color */
  position: relative;
  padding-top: 80px; /* Adjust the padding-top value to match the height of your header */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.star-container {
  /* Your existing styles for the star-container class */
  position: fixed; /* Position stars absolutely */
  top: 0;
  left: 0;
  width: 100%; /* Cover entire viewport */
  height: 100%; /* Cover entire viewport */
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;

  /* Animation for twinkling effect */
  animation: twinkling 2s infinite alternate;
}

/* Animation keyframes for twinkling effect */
@keyframes twinkling {
  from {
    opacity: 0.2; /* Lower opacity */
  }
  to {
    opacity: 1; /* Higher opacity */
  }
}
